.App {
  text-align: center;
  font-family: Arial;
}

.selected {
  background: #f8f8f8 !important;
  border: 2px solid #424242 !important;
}
p {
  color: #424242;
  font-size: 20px;
  margin: 0;
}
.options {
  padding: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #424242;
  font-weight: 400;
  text-align: center;
  margin: 0;
  border: 0.5px solid #eeeeee;
  font-size: 16px;
}
.score {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.over {
  font-size: 75px;
  font-weight: 600;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.space {
  background: aliceblue;
  margin-bottom: 10px;
}
ul li {
  margin: 5px;
}
h2 {
  margin-bottom: 20px !important;
}

.card {
  background: white;
  text-align: center;
  width: 530px;
  height: auto;
  border-radius: 10px;
  margin: 40px 40px 25px 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  color: white;
  overflow-x: hidden;
  font-family: "Segoe UI";
  font-size: 18px;
  background-color: #dae3e8;
}
@media only screen and (min-width: 600px) {
}

h2 {
  padding-top: 0px;
  margin-top: 0px;
  color: #0e0e0e;
  font-weight: 500;
  font-size: 20px !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px !important;
}
.question {
  color: #424242;
  padding-bottom: 10px;
  padding-top: 15px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
}

button {
  background: #304ffb;
  color: #f0f0f0;
  padding: 15px;
  border: none;
  width: 150px;
  border-radius: 5px;
  margin-top: 25px;
  border-radius: 8px;
  cursor: pointer;
}

h1 {
  color: #424242;
  width: 100% !important;
  font-weight: 600;
  font-size: 25px !important;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.head {
  background: #f9f9f9 !important;
  border-radius: 10px 10px 0 0;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 350px;
    height: auto;
    text-align: center !important;
  }
  h1 {
    font-size: 22px !important;
    width: 100% !important;
  }
}
.btn-toolbar {
  display: flex;
  justify-content: center !important;
  margin-bottom: 20px;
}
.audiobtn {
  margin-top: 0px;
  background: none;
  color: rgb(48, 79, 251);
  text-decoration: none;
  font-size: 14px;
}
.modal-header .close {
  padding: 15px !important;
  width: auto;
}
.btn-primary {
  color: #fff;
  background-color: #304ffb !important;
  border-color: #304ffb !important;
}
